html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(45deg, pink 0% 50%, violet 50% );
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  width: 95%;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;

  margin: 0 auto;
}

#main{
  display: flex;
}
#list, form {
  width: 50%;
}
form{
  
}
select{
  margin-top: 5px;
  width: 50%;
  display: block;
  border-radius: 0.3em;
  padding: 0.3em;
  font-weight: bolder;
}
form label, input{
  margin-top: 2em;
  display: block;

}
input[type="text"]{
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.4em;
  font-size: 1.2em;
  font-style: italic;
  width: 50%;
  
}
input[type="submit"]{
  background-color: rgb(179, 14, 143);
  border: none;
  box-shadow: 0.04em 0.04em 0.4em black;
  padding: 0.6em;
  border-radius: 10px;
  font-weight: bolder;
}
input[type="submit"]:hover{
  box-shadow:inset 0.04em 0.04em 0.4em white;
  transform: scale(1.2);
}
#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(24, 7, 7, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}
li{
  list-style-type: none;
  margin-top: 1%;
  color: rgb(18, 63, 9);
  font-weight: bolder;
}
li:before {
  content: '✓';
}
.remove-task {
  font-size: 0.7em;
  border: solid 1px ;
  vertical-align: middle;
  font-weight: bolder;
  text-align: center;
  margin-right: 1em;
  border-radius: 5px;
  background-color: rgb(182, 13, 182);

}
.remove-task:hover{
  color: white;
  background-color: red;
  border: solid 1px black;
}